<aside id="sidebar" class="main">
    <div class="mr-0">
        <button class="toggle-btn" type="button">
            <p>MENU</p>
        </button>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-submenu">
            <h6 class="sidebar-link collapsed has-dropdown cursor-pointer" data-bs-toggle="collapse"
                data-bs-target="#template_messages" aria-expanded="false">
                Template messages
            </h6>
            <ul id="template_messages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                {% for conversation in conversations %}
                    <li class="sidebar-item cursor-pointer">
                        <p>{{ conversation.id }} {{ conversation.name }}!!!</p>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li class="sidebar-submenu">
            <h6 class="sidebar-link collapsed has-dropdown cursor-pointer" data-bs-toggle="collapse"
                data-bs-target="#last-conversation" aria-expanded="false">
                Last conversation
            </h6>
            <ul id="last-conversation" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                {% for conversation in conversations %}
                    <li id="{{ conversation.id }}" class="sidebar-item cursor-pointer">
                        <p>{{ conversation.id }}. {{ conversation.name }}!!!</p>
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    <div class="sidebar-footer">
        <a href="#" class="sidebar-link">
            <i class="lni lni-exit"></i>
            <span>Logout</span>
        </a>
    </div>
</aside>

<div class="d-none" id="conversations-data" data-conversations="{{ conversationsJson }}"></div>

<script>

    document.addEventListener("DOMContentLoaded", () => {
        const chatBox = document.getElementById('chatBox');
        const conversationList = document.getElementById('last-conversation')

        conversationList.addEventListener('click', e => {
            const conversation = getConversation(+e.target.parentElement.id);
            if (conversation) {
                fillChatBox(conversation); // z assistant/main.html.twig
            }
        })
    })

    function getConversation(conversationId) {
        const conversationsElement = document.getElementById('conversations-data');
        const conversationsJson = conversationsElement.getAttribute('data-conversations');
        const conversations = JSON.parse(conversationsJson)

        for (let conversation of conversations) {
            if (conversation.id === conversationId) {
                return conversation;
            }
        }
        return null;
    }


    // hamburger menu
    const hamBurger = document.querySelector(".toggle-btn");
    hamBurger.addEventListener("click", function () {
        document.querySelector("#sidebar").classList.toggle("expand");
    });
</script>






