{% extends 'layout/base.html.twig' %}

{% block title %}whatsApp-dashboard{% endblock %}

{% block body %}
    <div class="border-top border-bottom">
        <div class="row m-5">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Session start</h5>
                        <p class="card-text">starts session.</p>
                        <a href="?action=start" class="btn btn-primary">Start session</a>
                    </div>
                    {% if  startSession.name is defined %}
                        <div class="card-body">
                            <p class="card-text text-success"> Connect is ok, starting is ok</p>
                            <p class="card-text">name: <b>{{ startSession.name ?? "-" }}</b></p>
                            <p class="card-text">status: <b>{{ startSession.status ?? "-" }}</b></p>
                            {#                        <p class="card-text">config(arr): <b>{{ startSession.error ?? "-" }}</b></p> #}
                        </div>
                    {% elseif  startSession.error is defined %}
                        <div class="card-body">
                            <p class="card-text text-warning">Connection successful but a problem occurred</p>
                            <p class="card-text">statusCode: <b>{{ startSession.statusCode ?? "-" }}</b></p>
                            <p class="card-text">message: <b>{{ startSession.message ?? "-" }}</b></p>
                            <p class="card-text">error: <b>{{ startSession.error ?? "-" }}</b></p>
                        </div>
                    {% elseif  startSession is same as(false) %}
                        <div class="card-body">
                            <p class="card-text text-danger">can't connect to whatsApp server</p>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Session get QR code</h5>
                        <p class="card-text">Get QR code and scan to log in.</p>
                        <a href="?action=get_qrCode" class="btn btn-primary">getQR</a>
                    </div>
                    <div class="card-body overflow-hidden">
                        {% if qrCode %}
                            <img class="img-fluid" src="data:image/jpeg;base64;,{{ qrCode }}" alt="qr code"/>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Session INFO</h5>
                        <p class="card-text">Get session info.</p>
                        <a href="?action=get_session" class="btn btn-primary">getSession</a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">name: <b>{{ session.name ?? "-" }}</b></p>
                        {% if session %}
                            <p class="card-text {{session.status == 'WORKING' ? 'text-success' : ''}}">
                                status: <b>{{ session.status ?? "-" }}</b>
                            </p>
                        {% endif %}
                        <p class="card-text">Me: <b>{{ session ? session.me|join(', ') :'empty' }}</b></p>
                        <p class="card-text">Webhooks: <b>{{ session ? session.config.webhooks[0].url : 'empty'}}</b></p>
                        <p class="card-text">engine state: <b>{{ session ? session.engine.state : 'empty'}}</b></p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Session stop</h5>
                        <p class="card-text">stops session.</p>
                        <a href="?action=stop" class="btn btn-primary">stopSession</a>
                    </div>
                    <div>
                        <p class="card-text">Is it ok?:
                            <b>
                                {{ stopSession == 'stopped' ? stopSession : '' }}
                            </b>
                        </p>
                        <p class="card-text">statusCode: <b>{{ stopSession.statusCode ?? "-" }}</b></p>
                        <p class="card-text">message: <b>{{ stopSession.message ?? "-" }}</b></p>
                        <p class="card-text">error: <b>{{ stopSession.error ?? "-" }}</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if session %}
        <div class="border-top border-bottom">
            <div class="row m-1">
                <div>
                    <div class="card">
                        <div class="">
                            <a href="?action=get_chats" class="btn btn-primary">Get chats</a>
                            <a href="?action=get_contacts" class="btn btn-primary">Get contacts</a>

                        </div>
                        {% if chats %}
                            <div class="my-2">
                                <h6>Your hats: </h6>
                                {% for chat in chats %}
                                    <a href="{{ path('whatsApp.chats', {'id': chat.id.user} )}}"
                                       class="btn btn-secondary">{{ chat.name }}</a>
                                {% endfor %}
                            </div>
                        {% elseif contacts %}
                            <div class="my-2">
                                <h6>Your Contacts: </h6>
                                {% for contact in contacts %}
                                    <a href="?action=#"
                                       class="btn btn-secondary">{{ contact.name ?? contact.pushname }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script>

        const sessionStartBtn = document.querySelector('#session-start-btn')

        sessionStartBtn.addEventListener('click', (e) => {
            console.log('sesion start');
            axios.get("{{ path('whatsApp.session.get') }}")
                .then(res => {
                    console.log(res.data)
                })
        })

    </script>
{% endblock %}
