<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/ico" href="{{ absolute_url('favicon.ico') }}"/>
    {{ encore_entry_link_tags('app') }}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-secondary-subtle p-2 ">
    <a class="nav-link fs-5" href={{ path('home') }}>MY-ASSIST</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link  {{ app.request.pathInfo == path('home') ? 'fw-bold text-white' }}" href={{ path('home') }}>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ app.request.pathInfo == path('assistant') ? 'fw-bold text-white' }}" href={{ path('assistant') }}>Assistant</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ app.request.pathInfo == path('whatsApp.home') ? 'fw-bold text-white' }}" href={{ path('whatsApp.home') }}>WhatsApp</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ app.request.pathInfo == path('aidevs3_prework_main') ? 'fw-bold text-white' }}" href={{ path('aidevs3_prework_main') }}>AiDev3</a>
            </li>
            <li class="nav-item">
{#                <a class="nav-link {{ app.request.pathInfo == path('home') ? 'fw-bold text-white' }}" href="#">Settings</a>#}
            </li>
        </ul>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href={{ path('app_login') }}>login</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link"> You are logged as <strong>{{ app.user.userIdentifier }} </strong></a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown " data-bs-theme="dark">
                    <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href={{ path('app_logout') }}>logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div>
    {% block body %}{% endblock %}
</div>

{% block javascripts %}{% endblock %}

{{ encore_entry_script_tags('app') }}
</body>
</html>
